* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url("https://images.wondershare.com/filmora/article-images/how-to-get-bees-in-minecraft-poster.jpg") no-repeat center center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    color: white;
  }
  
   input,
  button {
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .login {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
  }
  
  .login__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .login__form {
    position: relative;
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid white;
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(8px);
  }
  
  .login__title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  
  .login__content, .login__box {
    display: grid;
  }
  
  .login__content {
    row-gap: 1.75rem;
    margin-bottom: 1.5rem;
  }
  
  .login__box {
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 0.75rem;
    border-bottom: 2px solid white;
  }
  
  .login__input {
    width: 100%;
    padding-block: 0.8rem;
    background: none;
    color: white;
    position: relative;
    z-index: 1;
  }
  
  .login__box-input {
    position: relative;
  }
  
  .login__label {
    position: absolute;
    left: 0;
    top: 13px;
    font-weight: 500;
    transition: top 0.3s, font-size 0.3s;
    color: white;
  }
  
  .login__icon, .login__eye {
    font-size: 1.25rem;
    color: white;
  }
  
  .login__eye {
    position: absolute;
    right: 0;
    top: 18px;
    z-index: 10;
    cursor: pointer;
  }
  
  .login__box:nth-child(2) input {
    padding-right: 1.8rem;
  }
  
  .login__button {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    color: black;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 2rem;
  }
  
  .login__register {
    text-align: center;
  }
  
  .login__register a {
    color: white;
    font-weight: 500;
  }
  
  .login__register a:hover {
    text-decoration: underline;
  }
  
.login__label {
    position: absolute;
    left: 0;
    top: 13px; 
    font-size: 1rem;
    transition: top 0.3s, font-size 0.3s;
  }
  
  .login__input:focus + .login__label,
  .login__input:not(:placeholder-shown) + .login__label {
    top: -12px; 
    font-size: 0.813rem; 
  }
  
  @media screen and (min-width: 576px) {
    .login {
      justify-content: center;
    }
  
    .login__form {
      width: 432px;
      padding: 4rem 3rem 3.5rem;
      border-radius: 1.5rem;
    }
  
    .login__title {
      font-size: 2rem;
    }
}
