body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), 
                url(../img/succesFondo.webp) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}
