body {
    margin-top: 80px;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), 
                url(../img/succesFondo.webp) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

#Volver{

    background-color: rgb(45, 225, 63);
    border: 2px greenyellow;
}

a {
  text-decoration: none;
  color: var(--accent);
}

.link-pg {
  color: white;
}

.iniciar-sesion {
  color: white;
}

.iniciar-sesion:hover {
  color: #7ee000;
}